extends layout
block content
  h1= title

  if toShow == null
    h2 No instance to show
  else
    - let Robotsid = toShow._id
    - let Robot_type = toShow.Robot_type
    - let price = toShow.price
    - let manufactured  = toShow.manufactured 
    div
      div.row
        div.RobotsAttr.mr-3 Robots ID is:
        div #{Robotsid}
      div.row
        div.RobotsAttr.mr-3 Robots Type is:
        div #{Robot_type}
      div.row
        div.RobotsAttr.mr-3 Robots Size is:
        div #{price}
      div.row
        div.RobotsAttr.mr-3 Robots Price is:
        div #{manufactured}